.animatedButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  border: 2px solid var(--color-main);
  font-size: var(--font-size);
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--color-main);
  box-shadow: 0 0 0 1px var(--color-main);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.3s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.animatedButton:active {
  scale: 0.97;
  box-shadow: 0 0 0 2px var(--color-main);
}

.animatedButton:hover {
  color: #fff;
  border-radius: 16px;
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.iconLeft {
  position: absolute;
  left: 8px;
  width: 16px;
  height: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1), left 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  color: var(--color-main);
}

.animatedButton:hover .iconLeft {
  color: #fff;
}

.text {
  position: relative;
  z-index: 2;
  margin: 0 16px 0 28px;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  color: inherit;
  font-weight: 700;
}

.animatedButton:hover .text {
  color: #fff;
  transform: translateX(2px);
} 